
/*************FAQ***************/
#upgradecontent {
	margin-left:20px;
}

#upgradecontent span {
	width:1024px;
	white-space: normal;
	color:#7d7d7d;
}

#upgradecontent .upgradeline {
	margin-top:20px;
	
}
